@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

@media screen{
	
}

@media screen{ 
	html,
	body,
	#section_main { -webkit-font-smoothing: antialiased; background: #FBFBFB; font-family: 'Ubuntu'; font-size: 10px; height: 100%; overflow: hidden; width: 100%; }

	select, input, button, textarea, button { font-family: 'Ubuntu'; }
	h1,
	h2 { font-family: 'Asap'; }

	* { -webkit-overflow-scrolling: touch; }

	#header_global {
		background: #fff; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); display: none; height: 48px; overflow: hidden; position: relative; width: 100%; z-index: 500; 
   
		.button { -moz-transition: background-color .5s ease; -o-transition: background-color .5s ease; -webkit-transition: background-color .5s ease; background: rgba(0,0,0,0.06); border-left: 1px solid rgba(0,0,0,0.07); border-radius: 3px; border-right: 1px solid rgba(0,0,0,0.07); box-shadow: 0 -1px 0 rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.9); color: transparent; height: 37px; position: absolute; top: 3px; transition: background-color .5s ease; width: 37px; }
		.button.active { background-color: rgba(0,0,0,0.3) }
		.button.right { right: 5px }
		.button.right.dashboard { background: url(../../images/dashboard.png) no-repeat; background-position: 50% 50%; background-size: 89% auto; }
		.button.left { left: 5px }
		h2 { color: #87A708; font-size: 2.2em; line-height: 1.54em; text-align: center; text-transform: capitalize;  text-shadow: 0 -.9px 0 #799607; font-weight: bold }
		h3 { color: #333; font-size: 1.3em; line-height: .5em; text-align: center; text-shadow: 0 1px 0 rgba(255,255,255,0.9); font-weight: 100; }
	}
	 
	#section_content { -moz-transition: left .5s ease; -o-transition: left .5s ease; -webkit-transition: left .5s ease; height: 100%; left: 0; overflow: scroll; padding-bottom: 44px; position: relative; transition: left .5s ease; width: 100%; 
		&.splash { background: url(../../images/grass_bg.jpg) no-repeat; background-size: 100% auto; background-position: center top; height: 100%; padding: 5%; width: 100%; }
	}

	.splash {
		.logo { background: url(../../images/logo.png) no-repeat; background-size: 100% auto; color: transparent; display: block; height: 164px; margin: 0 auto; max-width: 390px; position: relative; top: 5%; width: 80%; }
		.blurb { background: #2e2e2e; background: rgba(46, 46, 46, 0.4); bottom: 24%; left: 0; padding: 6% 10%; position: absolute; height: auto; width: 100%; -moz-transition: height .5s ease; -o-transition: height .5s ease; -webkit-transition: height .5s ease; }
		h2 { color: #FFF; font-size: 3em; font-weight: 700; }
		p { color: #FFF; font-size: 1.8em; font-weight: 100; }
		.menu { bottom: 10%; position: absolute; width: 90%; }


		#login {
			li { clear: both; display: block; height: 40px; width: 100%; margin-bottom: 10px; border-radius: 5px; font-weight: 100;
				&.cancel { clear: none; width: 50%; float: left; }
				&.login { clear: none; width: 50%; float: right; }
				a{ width: 100%; }
				input { width: 100%; height: 100%; border: none;  font-size: 1.8em; text-indent: 3%; }
			}
		}


		#signup {
			.facebookBtn {
				height: 20px;
				a {background: #526EA6; text-transform: lowercase; color: white; font-weight: 800; width: 100%; }
			}
		
			li { clear: both; display: block; height: 40px; width: 100%; margin-bottom: 10px; border-radius: 5px; font-weight: 100;
				a{ width: 100%; }
				input { width: 100%; height: 100%; border: none; font-weight: 100; font-size: 1.8em; text-indent: 3%; }
				&.cancel {
					clear: none;
					font-size: 1.2em;
					float: left;
					width: 49%;
					a { color: #fff; background: #c53e3e; width: 100%; }
				}
				&.signUp {
					clear: none;
					font-size: 1.2em;
					color: #fff;
					float: right;
					width: 49%;
					a { color: #fff; background: #8bc53e; width: 100%; }
				}
			}
		}
	}


	.addPlant {
		background-color: #fbfbfb; 
		height: 100%;
		position: absolute;
		top: 44px;
		width: 100%;
		overflow: scroll;
		z-index: 90;
		padding: 4% 1% 15%;
		input { width: 100%; height: 39px; font-size: 1.8em;
			text-indent: 3%;
			font-weight: 100;
			border: 1px solid #D8D8D8;
			border-radius: 3px;
			margin-bottom: 11px;
			position: relative;
			box-shadow: 0px 0px 2px rgba(14, 14, 11, 0.1); }

		h2 { text-indent: 3%;
font-size: 2em;
margin-bottom: 10px;
color: #A0A0A0; }
		input[type=file]{
			position: relative;
			z-index: 20;
			height: 280px;
			box-shadow: none;
			border: none;
			border-radius: 0;
		}
		input[type=file].nope:after{
			display: none;
		}
		input[type=file]:after {
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			background: #fbfbfb url('../../images/camera.png') no-repeat center center;
			position: absolute;
			z-index: 10;
			left: 0;
			top: 0;
			border: 2px dashed rgba(143, 141, 141, 0.5);
			border-radius: 20px;
		}
	}

	.menu li a{ background: #181818; background: rgba(24,24,24,0.6); border-radius: 10px; color: #dadada; display: block; float: left; font-size: 1.8em; font-weight: 700; min-height: 42px; line-height: 2.2em; margin-right: 4%; text-align: center; text-decoration: none; min-width: 100px; width: 46%; }

	li.cancel {
					clear: none;
					font-size: 1.2em;
					float: left;
					width: 49%;
					a { color: #fff; background: #c53e3e; width: 100%; }
				}
	
	.dashboard { height: 100%; overflow: scroll; padding: 20px 5% 0; position: relative; width: 100%; z-index: 50; 
		li { float: left; height: 144px; margin: 1%; position: relative; width: 48%; z-index: 50; 
		&#addNew { background: #8bc53e; border-radius: 6px; height: 100px; width: 100px; }
		&#addNew a { color: transparent; display: block; height: 100%; position: relative; width: 100%; }
		&#addNew a:after { color: #FFF; content: '+'; display: block; font-size: 12em; font-weight: 900; height: 100%; line-height: .55em; position: absolute; text-align: center; width: 100%; }
		&#logOut { background: #c53e3e; border-radius: 6px; height: 100px; width: 100px; }
		&#logOut a { color: transparent; display: block; height: 100%; position: relative; width: 100%; }
		&#logOut a:after { color: #FFF; content: '-'; display: block; font-size: 12em; font-weight: 900; height: 100%; line-height: .55em; position: absolute; text-align: center; width: 100%; }
	}
	   
		img { clear: both; display: block; max-width: 100px; position: relative; }
		li:after { background: #FFF; content: ''; display: block; height: 100px; left: 0; opacity: 0.01; position: absolute; top: 0; width: 100px; }
		h2 { font-size: 2em; font-weight: 700; }
		h3 { font-size: 1.3em }
		.status { background: red; border-radius: 100%; color: transparent; height: 20px; left: 87px; position: absolute; top: -5px; width: 20px; }
		.good.status { background: rgba(0,255,0,0.8) }
		.meh.status { background: rgba(255,255,0,0.8) }
		.poor.status { background: rgba(255,0,0,0.8) }
	}

	#section_main { overflow-x: hidden; overflow-y: scroll; }
	
	#section_content.sideMenuOpened { border-left: 2px solid rgba(0,0,0,0.3); left: 80%; }
	.hero { height: 150px; overflow: hidden; width: 100%;
		img { height: auto; width: 100%; }
	}

	#side_menu{position: absolute; -moz-transition: left .5s; -o-transition: left .5s; -webkit-transition: left .5s; transition: left .5s; left: -100px;}
	#side_menu.sideMenuOpened{z-index: 0; left: 0px;}

	#side_menu{z-index: -1; width: 80%; height: 89%; background: #fbfbfb;
		ul {list-style: none;}
    	li {float: left; top: 20px; width: 100%; height: 100%;width: 100%; }
        div.link {font-size: 19px; line-height: 48px; height: 47px; padding-left: 44px;
        	.dash,.about,.database,.contact,.help{display:block; float: left; position:relative; top: 24%; left: -16px; width:27px; height:27px; background: #fbfbfb;border:1px solid #000;}
        	&:active{background: #d8e2b2;
        		.dash,.about,.database,.contact,.help{background:#000;}
        	}
        }
	}

	#search, #results{width:100%; float:left; background: #fbfbfb;}
	#search{height: 15%; width: 100%; text-align:center; overflow:hidden; padding:4% 0;
		
		div{display: inline-block;}
		.center{margin: auto;}
		div.searchForm>input, .searchButton, .advancedButton{-moz-transition: background-color .5s ease; -o-transition: background-color .5s ease; -webkit-transition: background-color .5s ease; transition: background-color .5s ease; width: 35px; height: 35px; border-radius: 4px;}
		.searchButton{background: #abc152;
			&:active{background: #bccd62;}
		}
		.advancedButton{background: #dbdbdb;}
		.active{background: #838383;}
		.searchForm{ position:relative; top:-28%; width: 61%; margin: 0 2%;
			input{width: 89%; height:31px; font-size:15px; border-radius:4px; border: 2px solid #d6d6d6; padding: 0 4%; background: #fbfbfb;}
			.error{background: lightpink;}
		}
	}
	
	#results{width:100%;height: 100%;
		#advancedOptions{width: 85%; height: 95%; position:absolute; top: 15%; margin: auto 0 auto auto; overflow-y:scroll; overflow-x:hidden; -moz-transition: left .5s; -o-transition: left .5s; -webkit-transition: left .5s; transition: left .5s; left: 65%;
			.option{display:block; clear:both; margin: 4% 0; width: 100%; border-bottom: 2px solid #ccc;
				h2{font-size: 13px; font-weight: 700;}
				.left{margin: auto auto auto 0; position:relative; top:31px; left: 4%}
				.right{margin: auto 0 auto auto;}
				.typeImage,.sizeImage,.maintenanceImage{width: 81px; height: 81px; background: #ccc;position:relative; top: -22px; left:-21px;}
			}
		}

		#advancedOptions.advancedOptionsOpened{left:15%;}
		#plantResults{width: 110%; height:104%;}
	}
	#plantResults { -moz-transition: left .5s ease; -o-transition: left .5s ease; -webkit-overflow-scrolling: touch; -webkit-transition: left .5s ease; left: 0; position: relative; transition: left .5s ease; width: 100%; background: #fff;}
	#plantResults.advancedOptionsOpened { border-right: 2px solid rgba(0,0,0,0.3); left: -94%; }

	.returnList { height: 100%; overflow: scroll; padding: 1px 2%; position: relative; width: 100%; z-index: 50; 
	    li { float: left; height: 124px; margin: 1%; position: relative; width: 31%; z-index: 50; }
	    img { clear: both; display: block; max-width: 83px; position: relative; border-radius: 4px; border:1px solid #000; margin-bottom: 5px;}
	    li:after { background: #FFF; content: ''; display: block; height: 100px; left: 0; opacity: 0.01; position: absolute; top: 0; width: 100px; }
	    h2 { font-size: 1.1em; font-weight: 700; }
	    h3 { font-size: 1em }
	}

	.profileNav { height: 29px; margin-top: -29px; position: relative; width: 100%; 
		li { background: #FFF; border-radius: 3px 3px 0 0; float: left; height: 100%; margin-right: 10px; padding: 5px; text-align: center; width: 25%; }
	}

	.profileContent > div.active { display: block; position: relative; z-index: 200; }
	
	.guages { height: 150px; text-align: center; 
		img { display: block; height: auto; margin: 0 auto; max-width: 150px; width: 100%; }
		li { float: left; width: 33%; }
	}

	.header { background: rgba(0,0,0,0.3); clear: both; font-size: 1.8em; padding: .5% 5%; width: 100%; 
		h2 { display: inline; }
		span { background: rgba(0,0,0,0.8); border-radius: 100%; color: #FFF; float: right; height: 24px; line-height: 1.5em; margin-top: -1px; text-align: center; width: 24px; }
	}
	.notifications { width: 100% 
		li { border-bottom: 1px solid rgba(0,0,0,0.3); font-size: 1.4em; line-height: 2em; padding: 0 5%; position: relative; width: 100%; }
		li:before { background: url(../../images/drop.png) no-repeat; content: ''; display: inline-block; height: 30px; left: 16px; position: relative; top: 13px; width: 37px; }
	}

	.facts h2,
	.stage h2 { font-size: 2em }

	.sprouting { padding: 0 7%; position: relative; 
		p { float: right; font-size: 1.6em; margin-top: -36px; width: 60%; }
		&:before { content: '2'; display: inline; float: left; font-size: 4em; font-weight: 700; left: -5px; position: relative; top: -3px; }
	}

	.stage h3 { font-size: 1.4em }
	.stageProgress { background: url(../../images/progress.png) no-repeat; background-size: 100% auto; clear: both; color: transparent; height: 100px; margin: 30px 0; width: 100%; }
	

	.button { -webkit-box-sizing: border-box; border-radius: 5px; box-sizing: border-box; height: 71px; margin: 3%; overflow: hidden; 
		background: #a1b05d;
background: -moz-linear-gradient(top, #a1b05d 0%, #a1b05d 50%, #96a754 51%, #96a754 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1b05d), color-stop(50%,#a1b05d), color-stop(51%,#96a754), color-stop(100%,#96a754));
background: -webkit-linear-gradient(top, #a1b05d 0%,#a1b05d 50%,#96a754 51%,#96a754 100%);
background: -o-linear-gradient(top, #a1b05d 0%,#a1b05d 50%,#96a754 51%,#96a754 100%);
background: -ms-linear-gradient(top, #a1b05d 0%,#a1b05d 50%,#96a754 51%,#96a754 100%);
background: linear-gradient(to bottom, #a1b05d 0%,#a1b05d 50%,#96a754 51%,#96a754 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1b05d', endColorstr='#96a754',GradientType=0 );

		a { color: #575f30; text-decoration: none; display: block; font-size: 2.6em; height: 100%; line-height: 2.6em; text-align: center; width: 100%; }
	   }
	.faq { border-top: 1px solid rgba(0,0,0,0.3); 
		.faq li { border-bottom: 1px solid rgba(0,0,0,0.3); font-size: 1.4em; line-height: 3em; min-height: 34px; padding: 0 3%; }
	}
	#footer_global,
	.splash #login,
	.splash .blurb.login,
	.splash #signup,
	.profileContent > div { display: none }
	::selection,
	::-moz-selection { background: transparent }

	.loading {  }
	.loading:after{ content: '';
display: block;
position: fixed;
background: url("../../images/loading.gif") rgba(251, 251, 251, 0.9) center center no-repeat;
height: 100%;
width: 100%;
top: 0;
left: 0;
z-index: 200; }
}